lightning
requests
matplotlib
bleak
vpython
"git+https://github.com/gabrielpgagne/libemg@main#egg=libemg"
"git+https://github.com/SBIOML/emager-py@main#egg=emager-py"
#-e "file:///Users/gabrielgagne/Documents/git/emager-py"
#-e "file:///Users/gabrielgagne/Documents/git/libemg"